<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script type="text/javascript" src="script.js"></script>
    <title>Document</title>
  </head>

  <body>
    <header>
      <h1 class="title">영화를 찾아보세요</h1>
      <h3>Movie Explore</h3>
    </header>
    <main>
      <h1>여기는 메인</h1>
      <p class="subsubject">
        "영화란 지루한 부분이 커트된 인생이다" - 알프레드 히치콕
      </p>

      <div class="container"></div>
      <div class="buttonWrapper"><button class="more">더 보기</button></div>
    </main>
  </body>
</html>
